.head {
    position: sticky;
    text-align: center;
}

/* #selfie{
    position: relative;
    text-align: center;
} */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    font-size: large;
}

.nav>li {
    display: inline-block;
}

.navbar-nav {
    display: flex;
}

.push-left {
    margin-right: auto;
}

.push-right {
    margin-left: auto;
}

.navbar {
    position: sticky;
}